# .gitattributes
* text=auto

# Fichiers qui doivent toujours avoir LF
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.md text eol=lf
*.css text eol=lf
*.html text eol=lf

# Fichiers binaires
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.pdf binary